body > article.home {
  background: #003755 !important;
  color: white !important;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > article.home h1,
body > article.home h2 {
  margin: 0;
}

body > article.home article.animation {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: calc( 100% - 300px );
}

body > article.home section.title {
  position: relative;
}

body > article.home section.title span:first-child  {
  font-weight: 200;
  font-size: 3rem;
}

body > article.home section.title small {
  position: absolute;
  right: -64px;
  bottom: 0px;
  font-weight: 300;
}

body > article.home h2.slogan {
  font-weight: 300;
  margin-bottom:10px;
  text-align: center;
}

body > article.home section.buttons {
  display: flex;
}

body > article.home section.buttons a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
  width: 125px;
  border: 1px solid #1c77b5;
  border-radius: 4px;
  padding: 10px;
  display: block;
  text-align: center;
}

body > article.home section.buttons a:first-child {
  margin-right: 5px;
  background-color: #1c77b5;
}

body > article.home section.buttons a:last-child {
  margin-left: 5px;
}
